<%= form_for @trip do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :trip_title %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :trip_note %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :trip_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :trip_end_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :trip_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
