<p>***Last date of your trip will set to the last day of your final destination</p>
<%= simple_form_for @trip do |f| %>
  <% if @trip.errors.present? %>
    <p><%= @trip.errors.full_messages.join(', ') %></p>
  <% end %>
  <div class="form-group">
    <%= f.input :title, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :note, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :start_date, class:"form-control" %>
  </div>
  <div class="form-group">
    <p>Tag List</p>
    <%= f.text_field :tag_list, value: f.object.tag_list.to_s, class:"form-control" %>
  </div>
  <%= f.submit 'Submit!', class:"btn btn-primary float-right"%>
<% end %>
