<!-- BootStrap Modal: Trip Info -->
<div class="modal fade" id="TripInfoModal" tabindex="-1" role="dialog" aria-labelledby="tripModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tripModalLabel">Trip Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="trip-info">
          <table style="width:100%">
             <tr>
                 <th>Title:</th>
                 <td><%= @trip.title %></td>
             </tr>
             <tr>
                 <th>Note:</th>
                 <td><%= @trip.note %></td>
             </tr>
             <tr>
                 <th>Start Date:</th>
                 <td><%= @trip.start_date %></td>
             </tr>
             <tr>
                 <th>End Date:</th>
                 <td><%= @trip.end_date %></td>
             </tr>
             <tr>
                 <th>Tag Lists:</th>
                 <td><%= @trip.tag_list %></td>
             </tr>
         </table>
          <div class="float-right" data-toggle="modal" data-target='#editTripModal'>
            <%= fa_icon "edit 2x" %>
            <span>Edit Trip Info</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
