<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<div class="trip-show-container">
  <section class="row">
    <div class="col-4">
      <div class="backToPrevious">
        <%= link_to fa_icon("angle-double-left 3x"), @trip %>
        <span> OverView </span>
      </div>
    </div>

    <div class="col-4 row" style="display:inline;">
      <p id="trip-edit-title" class="title" style="text-align:center">Edit Your Journey <span><%= fa_icon "question-circle", id:"startTourBtn" %></span></p>


    </div>

    <!-- BootStrap Modal Button: Trip Info -->
    <div class="col-4">
      <div style="padding-left:69%;">
        <p>Expense Tracker <%= link_to fa_icon("credit-card 2x"), trip_expense_trackers_path(@trip) %></p>

      </div>
    </div>
  </seciton>
</div>


<div class="row" style="margin-bottom: 100px;">
  <div class="col-9" style="margin-left:20px;">
    <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map" data-tripid="<%= @trip.id %>" data-clickable="true"></div>
  </div>
  <div id="routes" class="col-2" data-tripstartdate="<%= @trip.start_date %>">
    <h2><strong>Your Routes</strong></h2>
    <div style="height: 500px; overflow-y: scroll;">  
      <ol id="sortable" style="padding-left:0">
      </ol>
    </div>
  </div>
</div>

<div>
  <p class="scrollToTop" onclick="topFunction()"><%= fa_icon("angle-double-up 2x") %></p>
</div>

<!-- BootStrap Modal: Trip Info -->
<%= render 'trip_info_modal', trip: @trip %>

<!-- BootStrap Modal: Edit Current Trip -->
<%= render 'edit_trip_info_modal', trip: @trip %>

<%= javascript_include_tag 'features/dom' %>
<%= javascript_include_tag 'features/map' %>
<%= javascript_include_tag 'features/edit_trip_guide' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_SECRET'] %>&callback=initMap"
async defer></script>
