
<main class="home-content">
  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-anchor nav-link active" id="tags-tab" data-toggle="tab" href="#tags" role="tab" aria-controls="tags" aria-selected="true">The Journey's tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-anchor nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">The Journey's Favorites</a>
      </li>
      <li class="nav-anchor tag-form" style="width:60%;padding-left:50px">
        <%= form_for :tags, method: :get, url: trips_path do |f| %>
          <div class="col-xs-10 row">
            <div  style="width:87%;">
            <%= f.collection_select(
                  :tag_list,
                  ActsAsTaggableOn::Tag.order(:name),
                  :id,
                  :name,
                  {},
                  {
                    multiple: true,
                    class: 'chosen-select',
                    data: { placeholder: "Search By Tags" }
                  }
                ) %>
            </div>
            <div>
              <%= f.submit 'Go!', class:"btn btn-primary"%>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
  </div>


  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tags" role="tabpanel" aria-labelledby="tags-tab">
      <section class="row">
        <% if @trip_tags_most_used.empty? %>
          <div style="width:100%;"><h3 style="padding:100px 0;text-align:center;">No Trip Found</h3></div>
        <% else %>
          <% @trip_tags_most_used.each do |trip| %>
            <% route_locations = [] %>
            <% trip.routes.order(start_date: :asc).each do |route| %>
              <% route_locations << route.lat_lng_string %>
            <% end %>

            <div class="col-md-3">
              <div class="card mb-3 box-shadow">
                <img style="border-radius:3px;height:350px;" src="https://maps.googleapis.com/maps/api/staticmap?size=150x200&amp;mobile=true&path=color:0x333333ff|weight:3<%=route_locations.join()%>&markers=color:red|label:S<%=route_locations.first%>&markers=color:red|label:E<%=route_locations.last%>&key=<%=ENV['GOOGLE_STATIC_MAP_API_SECRET']%>&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xb8b8b8%7Cvisibility:on%7Cweight:1&style=feature:administrative%7Celement:labels.text.fill%7Ccolor:0x6195a0&style=feature:administrative.province%7Celement:geometry.stroke%7Cvisibility:off&style=feature:landscape%7Celement:geometry%7Ccolor:0xfffef5&style=feature:landscape.man_made%7Clightness:-5&style=feature:landscape.natural.terrain%7Cvisibility:off&style=feature:poi%7Cvisibility:off&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xbae5ce%7Cvisibility:on&style=feature:road%7Csaturation:-100%7Clightness:45%7Cvisibility:simplified&style=feature:road.arterial%7Cvisibility:off&style=feature:road.highway%7Cvisibility:off&amp;style=feature:transit%7Cvisibility:simplified&amp;style=feature:water%7Ccolor:0xc2f1f5%7Csaturation:35%7Clightness:40%7Cgamma:0.42%7Cvisibility:on&amp;style=feature:water%7Celement:labels.text.fill%7Ccolor:0xadadad%7Cvisibility:on&amp;scale=2">
                <div class="card-body">
                  <h5><strong><%= trip.title %></strong></h5>
                  <p><%= trip.user.username %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'View', trip_path(trip), class:"btn btn-sm btn-outline-secondary" %>
                    </div>
                    <small class="text-muted">
                      <%= image_tag 'hearts.png', style: 'width: 33px; height: 33px; border-radius: 5px;' %>
                      <%= pluralize(trip.like_count, 'like') %>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </section>
    </div>

    <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
      <hr />
      <section class="row">
        <% @trip_highest_likes.each do |trip_with_likes| %>
          <% route_locations = [] %>
          <% trip_with_likes.routes.order(start_date: :asc).each do |route| %>
            <% route_locations << route.lat_lng_string %>
          <% end %>

          <div class="col-md-3">
            <div class="card box-shadow">
              <img style="border-radius:3px;height:350px;" src="https://maps.googleapis.com/maps/api/staticmap?size=150x200&amp;mobile=true&path=color:0x333333ff|weight:3<%=route_locations.join()%>&markers=color:red|label:S<%=route_locations.first%>&markers=color:red|label:E<%=route_locations.last%>&key=<%=ENV['GOOGLE_STATIC_MAP_API_SECRET']%>&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xb8b8b8%7Cvisibility:on%7Cweight:1&style=feature:administrative%7Celement:labels.text.fill%7Ccolor:0x6195a0&style=feature:administrative.province%7Celement:geometry.stroke%7Cvisibility:off&style=feature:landscape%7Celement:geometry%7Ccolor:0xfffef5&style=feature:landscape.man_made%7Clightness:-5&style=feature:landscape.natural.terrain%7Cvisibility:off&style=feature:poi%7Cvisibility:off&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xbae5ce%7Cvisibility:on&style=feature:road%7Csaturation:-100%7Clightness:45%7Cvisibility:simplified&style=feature:road.arterial%7Cvisibility:off&style=feature:road.highway%7Cvisibility:off&amp;style=feature:transit%7Cvisibility:simplified&amp;style=feature:water%7Ccolor:0xc2f1f5%7Csaturation:35%7Clightness:40%7Cgamma:0.42%7Cvisibility:on&amp;style=feature:water%7Celement:labels.text.fill%7Ccolor:0xadadad%7Cvisibility:on&amp;scale=2">
              <div class="card-body">
                <h5><strong><%= trip_with_likes.title %></strong></h5>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'View', trip_path(trip_with_likes), class:"btn btn-sm btn-outline-secondary" %>
                  </div>
                  <small class="text-muted">
                    <div>
                      <h6 style="margin-bottom:0;text-align:right;"><strong><%= trip_with_likes.user.username %></strong></h6>
                      <%= image_tag 'hearts.png', style: 'width: 33px; height: 33px; border-radius: 5px;' %>
                      <%= pluralize(trip_with_likes.like_count, 'like') %>
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</main>

<p class="scrollToTop" onclick="topFunction()"><%= fa_icon("angle-double-up 2x") %></p>
<script>
$(document).ready(function(){
  $('#tags-tab').on('click', e => {
    $('.tag-form').show();
  });

  $('#favorites-tab').on('click', e => {
    $('.tag-form').hide();
  });
});

</script>
