<script defer="defer" src="/assets/dom.js" type="text/javascript"></script>
<p>
  <strong>Title:</strong>
  <%= @trip.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @trip.note %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

<hr />
<div class="row">
<div id="routes" class="col-3"><h3>Your Routes</h3></div>
<div class="col-9">
  <div class="latlng"></div>
  <div id="floating-panel">
    <input id="address" type="textbox" value="Sydney, NSW">
    <input id="submit" type="button" value="Geocode">
  </div>
  <div id="map" class=""></div>
</div>
</div>

<h1>here</h1>
<div id="hideMe" style="display:none">
  <%= form_for @route, url: trip_routes_path(@trip)  do |f| %>
    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, data:{ provide:'datepicker' } %>
    </div>
    <%= f.submit 'Sign In!', class:"btn btn-primary"%>
  <% end %>
</div>

<div id="calendar" data-tripid="<%= @trip.id %>"></div>

<script src="/js/calendar.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_SECRET'] %>&callback=initMap"
async defer></script>
