
<p>
  <strong>Title:</strong>
  <%= @trip.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @trip.note %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', user_path(current_user) %> |
<%= link_to 'Expense Tracker', trip_expense_trackers_path(@trip) %> |


<hr />

<div class="map-api">
  <div id="floating-panel">
    <input id="address" type="textbox" value="Sydney, NSW">
    <input id="submit" type="button" value="Geocode">
  </div>
  <div id="map" data-tripid="<%= @trip.id %>"></div>
</div>


<div class="row">
  <div id="chart" class="col-6">
    <canvas id="donutChart"></canvas>
  </div>
  <div id="calendar" class="col-6" data-tripid="<%= @trip.id %>"></div>
</div>

<%= javascript_include_tag 'features/chart' %>
<%= javascript_include_tag 'features/calendar' %>
<%= javascript_include_tag 'features/map' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_SECRET'] %>&callback=initMap"
async defer></script>
