<div class="trip-show-container">
  <section class="row" style="margin-bottom:17px;">
    <div class="col-4">
      <% if can?(:crud, @trip) %>
        <div class="backToPrevious">
          <%= link_to fa_icon("angle-double-left 3x"), user_path(current_user)  %>
          <span> My Page </span>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <div class="heart-center">
        <% if @current_user_like %>
        <%= link_to fa_icon("heart 3x"), like_path(@current_user_like, trip_id: @trip), method: :delete %>
        <% else %>
        <%= link_to fa_icon("heart-o 3x"), trip_likes_path(@trip), method: :post %>
        <% end %>
        <%= pluralize(@trip.like_count, 'like') %>
      </div>
    </div>

    <div class="col-4">
      <div style="float:right;">
        <% if can?(:crud, @trip) %>
          <div class="go-to-forward">
            <span> Edit Trip </span>
            <%= link_to fa_icon("angle-double-right 3x"), edit_trip_path(@trip) %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- BootStrap Modal: Trip Info -->
    <%= render 'trip_info_modal', trip: @trip %>
  </section>

  <main class="map-api" style="margin-bottom:5px;">
    <section id="map" data-tripid="<%= @trip.id %>"></section>
  </main>

  <div class="row">
    <div class="col-md-6 geocode-form">
      <input id="address" type="textbox" value="Sydney, NSW">
      <span class="input-group-btn">
        <button class="btn btn-default" id="submit" type="button">GeoCode!</button>
      </span>
    </div>
    <div class="col-md-6">
      <div class="row" style="z-index:10;position:absolute;right:50px;top:0;">
        <% if can?(:crud, @trip) %>
          <div class="expense-tracker">
            <%= link_to fa_icon("credit-card 2x"), trip_expense_trackers_path(@trip) %>
            <span>Expense Tracker</span> |
          </div>
        <% end %>

        <!-- BootStrap Modal Button: Trip Info -->
        <div data-toggle="modal" data-target='#TripInfoModal'>
          <div class="papaer-plane">
             | <%= fa_icon "paper-plane 2x"  %>
            <span>Trip Info</span>
          </div>
        </div>
      </div>

    </div>
  </div>

<hr />


  <!-- BootStrap Modal: Trip Info -->
  <%= render 'trip_info_modal', trip: @trip %>

  <!-- BootStrap Modal: Edit Current Trip -->
  <%= render 'edit_trip_info_modal', trip: @trip %>

  <div class="flexingRow">
    <div id="chart" class="borderingDiv">
      <canvas id="donutChart" data-tripid="<%= @trip.id %>"></canvas>
    </div>
    <div class="borderingDiv">
      <div id="calendar" data-tripid="<%= @trip.id %>"
        data-startdate="<%= @trip.start_date.strftime('%Y-%m')%>"></div>
    <div>
  </div>
</div>
<div style="margin-left:50px;">
  <p class="scrollToTop" onclick="topFunction()"><%= fa_icon("angle-double-up 2x") %></p>
</div>

<%= javascript_include_tag 'features/chart' %>
<%= javascript_include_tag 'features/calendar' %>
<%= javascript_include_tag 'features/dom' %>
<%= javascript_include_tag 'features/map' %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_SECRET'] %>&callback=initMap"
async defer></script>
