<div class="trip-show-container">
  <main class="map-api">
    <section>
      <div class="heart-center inline-display">
        <% if @current_user_like %>
          <%= link_to fa_icon("heart 3x"), like_path(@current_user_like), method: :delete %>
        <% else %>
          <%= link_to fa_icon("heart-o 3x"), trip_likes_path(@trip), method: :post %>
        <% end %>
        <%= pluralize(@trip.like_count, 'like') %>
      </div>

      <div class="float-right inline-display" data-toggle="modal" data-target='#TripInfoModal'>
        <%= fa_icon "paper-plane 2x"  %>
        <span>Trip Info</span>
      </div>

      <!-- BootStrap Modal: Trip Info -->
      <%= render 'trip_info_modal', trip: @trip %>
    </section>

    <section id="map" data-tripid="<%= @trip.id %>"></section>
    <div class="geocode-form">
      <input class="form-control" id="address" type="textbox" value="Sydney, NSW">
      <span class="input-group-btn">
        <button class="btn btn-default" id="submit" type="button">GeoCode!</button>
      </span>
    </div>
  </main>

  <div class="row">
    <%= link_to 'Edit', edit_trip_path(@trip) %> |
    <%= link_to 'Back', user_path(current_user) %> |
    <%= link_to 'Expense Tracker', trip_expense_trackers_path(@trip) %>
  </div>

  <div class="flexingRow">
    <div id="chart" class="borderingDiv">
      <canvas id="donutChart" data-tripid="<%= @trip.id %>"></canvas>
    </div>
    <div class="borderingDiv">
      <div id="calendar" data-tripid="<%= @trip.id %>"></div>
    <div>
  </div>
</div>

<%= javascript_include_tag 'features/chart' %>
<%= javascript_include_tag 'features/calendar' %>
<%= javascript_include_tag 'features/dom' %>
<%= javascript_include_tag 'features/map' %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_SECRET'] %>&callback=initMap"
async defer></script>
