
<div class="row space-from-top">
  <div class="col-sm-3" style="border-right: 1px dashed #333;">
    <div class="user-profile">
      <p>
        <strong>Username:</strong><%= @user.username %>
      </p>
      <p>
        <strong>Email:</strong><%= @user.email %>
      </p>

      <!-- BootStrap Modal Button: Edit User Profile -->
      <div data-toggle="modal" data-target='#editUserModal'>
        <%= fa_icon "edit 2x"  %>
      </div>
      <!-- BootStrap Modal:Edit User Profile -->
      <%= render 'edit_user_modal', user: @user %>
    </div>
  </div>

  <div class="col-sm-8 my-trips">
    <div style="margin-bottom: 15px;">
      <div class="title inline-display">MY TRIPS</div>
      <!-- BootStrap Modal Button: Add New Trip -->
      <div class="font-awesome-icon inline-display" data-toggle="modal" data-target='#newTripModal'>
        <%= fa_icon "paper-plane 2x"  %>
        <span>New Trip</span>
      </div>
    </div>

    <!-- BootStrap Modal: Add New Trip -->
    <%= render 'add_new_trip_modal', trip: @trip %>

    <!-- All Trips owned by the current_user-->
    <div class="row">
      <% @trips.each do |trip| %>
        <% route_locations = [] %>
        <% trip.routes.order(start_date: :asc).each do |route| %>
          <% route_locations << route.lat_lng_string %>
        <% end %>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img style="border-radius:3px;" src="https://maps.googleapis.com/maps/api/staticmap?size=150x200&amp;mobile=true&path=color:0x333333ff|weight:3<%=route_locations.join()%>&markers=color:red|label:S<%=route_locations.first%>&markers=color:red|label:E<%=route_locations.last%>&key=<%=ENV['GOOGLE_STATIC_MAP_API_SECRET']%>&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xb8b8b8%7Cvisibility:on%7Cweight:1&style=feature:administrative%7Celement:labels.text.fill%7Ccolor:0x6195a0&style=feature:administrative.province%7Celement:geometry.stroke%7Cvisibility:off&style=feature:landscape%7Celement:geometry%7Ccolor:0xfffef5&style=feature:landscape.man_made%7Clightness:-5&style=feature:landscape.natural.terrain%7Cvisibility:off&style=feature:poi%7Cvisibility:off&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xbae5ce%7Cvisibility:on&style=feature:road%7Csaturation:-100%7Clightness:45%7Cvisibility:simplified&style=feature:road.arterial%7Cvisibility:off&style=feature:road.highway%7Cvisibility:off&amp;style=feature:transit%7Cvisibility:simplified&amp;style=feature:water%7Ccolor:0xc2f1f5%7Csaturation:35%7Clightness:40%7Cgamma:0.42%7Cvisibility:on&amp;style=feature:water%7Celement:labels.text.fill%7Ccolor:0xadadad%7Cvisibility:on&amp;scale=2">
            <div class="card-body">
              <p><%= trip.title %></p>
              <p><%= trip.start_date %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', trip_path(trip), class:"btn btn-sm btn-outline-secondary" %>
                  <%= link_to 'Edit', edit_trip_path(trip), class:"btn btn-sm btn-outline-secondary" %>
                  <%= link_to( 'Delete',
                      trip_path(trip),
                      class:"btn btn-sm btn-outline-secondary",
                      method: :delete,
                      data: {confirm: 'Are your sure?'}
                      ) %>
                </div>
                <small class="text-muted">
                  <%= image_tag 'hearts.png', style: 'width: 33px; height: 33px; border-radius: 5px;' %>
                  <%= pluralize(trip.like_count, 'like') %>
                </small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<p class="scrollToTop" onclick="topFunction()"><%= fa_icon("angle-double-up 2x") %></p>
