<%= simple_form_for @expense_tracker, url: trip_expense_trackers_path(@trip) do |form| %>
  <%= form.input :category %>
  <%= form.input :date %>
  <%= form.input :description %>
  <%= form.input :price %>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>


<h1>Expense Trackers</h1>
<%= link_to "New ExpenseTracker", add_form_path, {method: :post,  remote: true} %>
<%= render "header" %>
<hr />
<div id="expense_form_sjr">
  <div id="expense_show_sjr">
    <% @expense_trackers.each do |expense_tracker| %>
      <%= render "expense_trackers/expense_show", expense_tracker: expense_tracker, trip: @trip %>
    <% end %>
  </div>
</div>
