<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Trip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.address %></td>
        <td><%= route.latitude %></td>
        <td><%= route.longitude %></td>
        <td><%= route.start_date %></td>
        <td><%= route.end_date %></td>
        <td><%= route.trip %></td>
        <td><%#= link_to 'Show', route %></td>
        <td><%#= link_to 'Edit', edit_route_path(route) %></td>
        <td><%#= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Route', new_route_path %>
