
<div class="row space-from-top">
  <div class="col-sm-2" style="border-right: 1px dashed #333;">
    <div class="user-profile">
      <p>
        <strong>Trip:</strong><%= @route.trip.title %>
      </p>
      <p>
        <strong>Route Address:</strong><%= @route.address %>
      </p>
      <p>
        <strong>Start date:</strong><%= @route.start_date %>
      </p>
      <p>
        <strong>End date:</strong><%= @route.end_date %>
      </p>
    </div>
  </div>

  <div class="col-sm-9 my-trips">
    <div style="margin-bottom: 15px;">
      <div class="title inline-display" id="route-show" data-routeid="<%= @route.id %>">My Notes</div>
      <div class="font-awesome-icon inline-display new-sticky-note-icon">
        <%= fa_icon "file-o 2x"  %>
        <span>New note </span>
      </div>
    </div>

    <div class="col-md-12" id="note-container" style="background-color:white;height:500px;">
      <ol class="sticky-note-content-list row" id=" sortable" style="padding-left:0">
      </ol>
    </div>
  </div>
</div>

<%= javascript_include_tag 'features/sticky_note' %>
