<!-- ========= Bootstrap NavBar ============= -->
<div class="nav-center">
  <nav class="navbar navbar-expand-sm">
    <%= link_to image_tag("logo.gif", border: 0, class:"logo"), home_path, class:"navbar-brand nav-anchor" %>
    <div class="navbar-toggler" style="background-color:none"type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">>
      <%= fa_icon "bars 2x" %>
    </div>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-anchor"> HELLO,</span> <span class="nav-anchor" style="font-weight:bold"><%= current_user.username.upcase %><span>
          </li>
          <li class="nav-item">
            <%= link_to '/ MY PAGE', user_path(current_user), class:"nav-anchor" %>
          </li>
          <li class="nav-item">
            <%= link_to '/ SIGN OUT', sessions_path, method: :delete, class:"nav-anchor"  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to '/ SIGN IN', new_sessions_path, class:"nav-anchor" %>
          </li>
          <li class="nav-item">
            <%= link_to '/ SIGN UP', new_user_path, class:"nav-anchor" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
