<!DOCTYPE html>
<html>
  <head>
    <title>TheJourney</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Home', home_path %>
    <%= link_to 'About', about_path %>

    <% if user_signed_in? %>
      <span>Hello, <%= current_user.username %></span>
      <%= link_to 'My Page', user_path(current_user) %>
      <%= link_to 'Sign out', sessions_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', new_user_path %>
      <%= link_to 'Sign In', new_sessions_path %>
    <% end %>


    <div>
      <% if flash[:notice].present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% elsif flash[:alert].present? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
